//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
  margin-bottom: 50px;

  &__wrap {
    margin: 0 auto;
    width: 91%;

    @media screen and (min-width: 768px) {
      margin: 0;
      width: 91%;
      margin: 0 auto;
    }

    @media screen and (min-width: 1024px) {
      // width: 58%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      gap: 223px;
      padding: 0 7%;

    }
  }

  &__contact {
    margin-bottom: 60px;

    @media screen and (min-width: 1024px) {
      width: 580px;
      gap: 193px;
    }
  }

  &__txt {
    font-family: $f-jp;
    font-size: $fz-toptxt;
    font-weight: 700;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: $fz-toptxt-t;
    }

    @media screen and (min-width: 1024px) {
      font-size: $fz-toptxt-p;
      margin-bottom: 50px;
    }
  }

  &__more {
    @include btnBase;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    width: 95%;
    background: #000;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      width: 100%;
    }

    @media screen and (min-width: 1024px) {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &__link {
    display: block;
    border: 1px solid #000;
    color: #ffffff;
    text-decoration: none;
    padding: 4% 41%;
    transition: 0.3s;
   

    &:hover {
      background: #ffffff;
      color: #000;
    }

    @media screen and (min-width: 768px) {
      width: 100%;
    }

  }

  &__logobox {
    width: 340px;

  }

  &__logo {
    width: 340px;
    margin-bottom: 20px;
  }

  &__img {
    @include imgBase;
  }

  &__copy {
    font-family: $f-en_min;
    font-size: $fz-copy;
  }
}