//色に関する変数を登録します

$base-cl: #F6F6FB; //サイトのベースカラー
$news-cl: #fff; //ニュースセクションの色
$sns-cl: #C2C2DE;  //SNSセクションのベースカラー
$footer-color: #505096;  //footerのベースカラー
$btn-cl: #fff;  //フッターのボタンカラー
$hovbtn-cl: #C2C2DE;  //フッターのボタンをホバーしたカラー