//フォントに関する変数を登録します

$font-poppins :"Poppins", sans-serif;
$font-notosans :"Noto Sans JP", sans-serif;

$fz_top-18px: 18px;
$fz_faq-20px: 20px;
$fz_faq-27px: 26px;
$fz_faq-32px: 32px;
$fz_faq-50px: 50px;
$fz_top-110px: 110px;
$fz_32px: 32px;
$fz_16px: 16px;
$fz_14px: 14px;
$fz_28px: 28px;
$lh-30: 3.0em;
$lh-25: 2.5em;
$lh-20: 2em;
$lh-07: 0.7em;
$ls-005: .05em;
$fw-600: 600;