//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 26px 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.btn {
    display: none;
}
