//フォントに関する変数を登録します

// フォントの種類
$f-en: "DM Sans 14pt";
$f-jp: "Zen Old Mincho";

// フォントサイズ
$fz-nav: 15px;

$fz-mv__ttl: 180px;
$fz-mv__subttl: 60px;

$fz-ttl__en: 35px;
$fz-ttl__about: 72px;
$fz-ttl: 50px;


$fz-subttljp: 24px;
$fz-txt: 14px;

$fz-year-company: 16px;

              
$fz-more: 15px;

// 文字間
$ls-all: 0.1em;
$ls-mv: 0.05em;
$ls-btn: 0.05em;

//行間
$lh-txt: 2.5;

// 文字の太さ
$fw-ttl: 600;

// 余白
$ma-sec: 180px;