//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#operating_company {

    .mv{
        height: 100vh;
        position: relative;
       &__dec{
        &:nth-child(1){
            background: url(../images/opco/op__dec1.png) no-repeat center center / 100%;
            width: 339px;
            height: 435px;
            position: absolute;
            top: 304px;
            left: -0px;
        }
        &:nth-child(2){
            background: url(../images/opco/op__dec2.png) no-repeat center center / 100%;
            width: 352px;
            height: 352px;
            position: absolute;
            top: 225px;
            left: 60px;
        }
        &:nth-child(3){
            background: url(../images/opco/op__dec3.png) no-repeat center center / 100%;
            width: 185px;
            height: 352px;
            position: absolute;
            top: 709px;
            left: 0px;
        }
        &:nth-child(4){
            background: url(../images/opco/op__dec11.png) no-repeat center center / 100%;
            width: 542px;
            height: 238px;
            position: absolute;
            top: 0px;
            left: 600px;
        }
        &:nth-child(5){
            background: url(../images/opco/op__dec12.png) no-repeat center center / 100%;
            width: 352px;
            height: 196px;
            position: absolute;
            top: 0px;
            left: 772px;
        }
        &:nth-child(6){
            background: url(../images/opco/op__dec13.png) no-repeat center center / 100%;
            width: 352px;
            height: 352px;
            position: absolute;
            top: 242px;
            left: 904px;
        }
        &:nth-child(7){
            background: url(../images/opco/op__dec21.png) no-repeat center center / 100%;
            width: 541px;
            height: 435px;
            position: absolute;
            top: 304px;
            left: 1339px;
        }
        &:nth-child(8){
            background: url(../images/opco/op__dec22.png) no-repeat center center / 100%;
            width: 352px;
            height: 352px;
            position: absolute;
            top: 399px;
            left: 1443px;
        }
        &:nth-child(9){
            background: url(../images/opco/op__dec23.png) no-repeat center center / 100%;
            width: 244px;
            height: 341px;
            position: absolute;
            top: 629px;
            left: 1506px;
        }
       }
       &__catch {
        position: relative;
        top: 38%;
        left: 200px;
    }
    
    &__ttl {
        font-size: 96px;
        font-weight: 600;
        font-family: $font-poppins;
        margin-bottom: 83px;
    }
    
    &__box {
        display: flex;
    
    }
    
    &__decb {
        margin: 9px 25px 0 0;
    
    }
    
    &__txt {
        font-size: 18px;
        font-weight: 400;
    }
    }
    
    // セクション１
    
    .sec1{
        margin-bottom: 210px;
        margin-left: 309px;
    
        &__box1{
            display: flex;
            margin-bottom: 70px;
        //    margin-left: 309px;
           
    
        }
    
        &__ttl{
            font-size: 32px;
            font-weight: 500;
            // margin-bottom: 70px;
    
        }
    
        &__dec{
            width: 5px;
            height: 32px;
            margin-right: 22px;
        }
    
    
    
    
        // ネクストワン札幌支社
    
    
        dl {
           &:first-of-type{
            border-top: 1px solid #000;
           }
            padding: 10px;
            width: 1320px;
            display: flex;
            flex-wrap: wrap;
        }
    
        dt, dd {
           
    
            
            padding: 36px 0;
             border-bottom: 1px solid #000;
        }
    
        dt {
            font-family: $font-poppins;
            font-weight: 500;
            font-size: 16px;
            width: 30%;
            padding-left: 70px;
             
        }
    
        dd {
            width: 70%; 
            padding-left: 70px;
        }
       
    }
}