//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.translatemenu {
    transform: translateX(0);
}

.fadeIn {
    opacity: 0;
}
.slideIn {
    transform: translateX(100%);
}

.showElement {
    opacity: 1;
    transform: translateX(0);
}